@charset "UTF-8";
.el-header{
  height: 50px !important;
  background: #007cf7;
  background-image: linear-gradient(to right, #0086ed , #007cf7);
}

.navMenu{
  margin-right: -20px;
  >ul{
    background: none;
    border: none;
    li{
      float: left;
      height: 50px;
      line-height: 50px;
      padding: 0 20px;
      &:hover{
        background: rgba(0,0,0,0.1);
      }
    }
  }
  .el-menu-item.is-active{
      background: #fff;
      font-weight: bold;
      color: #007dfe;
      &:hover{
        color: #007dfe;
        background: #fff;
      }
  }
}

.el-main{
  padding: 0;
}

.j-headline{
  @extend .el-row;
  align-items: center;
}
.logo{
  padding-top: 4px;
  padding-right: 20px;
}
//导航菜单

//个人中心
.j-top-message{
  color: #fff;
  position: relative;
  z-index: 9;
  >.el-row{
    height: 50px;
  }
  .el-row{
    align-items: center;
  }
  .lump{
    position: relative;
    padding: 0 20px;
    opacity: .9;
    &:hover{
      cursor: pointer;
      opacity: 1;
    }
    &:before{
      position: absolute;
      content: '';
      height: 10px;
      width: 1px;
      top: 5px;
      left: 0;
      background: #67c5a3;
    }
  }
  .iconfont{
    font-size: 14px;
    margin-right: 10px;
  }
  .fa{
    margin-left: 5px;
  }
  .settingUp{
    position: absolute;
    top: 34px;
    right: -20px;
    background: #fff;
    color: #333;
    .box{
      padding: 2px 10px;
      &:nth-child(2){
        .iconfont {
          font-size: 10px;
        }
      }
      &:last-child{
        .el-row--flex{
          border-bottom: 0;
        }
      }
      .el-row--flex{
        padding: 8px 0;
        border-bottom: 1px #ccc dashed;
      }
      span{
        display: block;
        width: 70px;
      }
      &:hover{
        cursor: pointer;
        color: #2876e2;
        background: #e9f2ff;
        .el-row--flex{
          border-color: #e9f2ff;
        }
      }
    }
  }
}

//表格
.el-table{
  border: 1px solid #fff;
  th{
    background: #f2f9ff;
  }
}
.el-table--border{
  tr{
    td,th{
        &:last-child{
        border-right: 0;
      }
    }
  }
}
.el-table--border::after,.el-table--group::after{
  background: none;
}
//表头
.puTableHeader{
  font-size: 16px;
  padding-top:14px !important;
  padding-bottom: 14px !important;
  border: none !important;
  background-color: #fff !important;
}
//菜单栏
.el-aside{
  z-index: 1;
  background: #fff;
  box-shadow: 0 1px 2px #e5e5e5,0 1px 6px #dedede;
}
.el-menu-item{
  color: #666;
}
.jh-demoNav{
  .fa,.iconfont{
    font-size: 26px;
  }
  .el-menu-item{
    height: auto;
    text-align: center;
    line-height: inherit;
  }
  .jh-menuText{
    font-weight: bold;
    padding-top: 16px;
    display: block;
  }
  .el-menu-item.is-active{
    color: #2876e2;
    background: #e9f2ff;
  }
}
//卡片
.el-card{
  border: none;
  border-radius: 0;
  overflow: inherit;
}
.el-card.is-always-shadow{
  box-shadow: 0 0 2px rgba(78,78,78,.01),0 0 12px rgba(0,0,0,.1);
}
.pickerWidth .el-date-editor .el-range-separator{
  width: 20px;
}
.el-date-table td.today span{
  color: #14ad6f;
}
.el-date-table td.available:hover{
  color: #14ad6f;
}

.el-select .el-input {
  width: 100px;
}
.input-with-select .el-input-group__prepend {
  background-color: #fff;
}

.el-select-dropdown__wrap{
  max-height: 237px;
}
.el-popper[x-placement^=bottom]{
  margin-top: 0;
}
